<div class="hidden lg:block mx-auto px-2 mt-4">
  <p-menubar [model]="items" [pt]="{ rootList: 'grow justify-around'  }">
    <ng-template #item let-item>
      <a [routerLink]="item.routerLink" routerLinkActive="bg-primary-100"
          class="p-menubar-item-link rounded-[var(--p-navigation-item-border-radius)]">
        {{ item.label }}
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-4">
        <app-theme-picker/>
        <a routerLink="/profile" aria-label="Profile">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
        </a>
      </div>
    </ng-template>
  </p-menubar>
</div>
<div class="mx-auto lg:hidden px-2 mt-4">
  <p-menubar [model]="mobileItems" [pt]="{ rootList: 'grow justify-around' }">
    <ng-template #item let-item>
      <a [routerLink]="item.routerLink" routerLinkActive="bg-primary-100"
          class="p-menubar-item-link rounded-[var(--p-navigation-item-border-radius)]">
        {{ item.label }}
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-4">
        <app-theme-picker/>
        <a routerLink="/profile" aria-label="Profile">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
        </a>
      </div>
    </ng-template>
  </p-menubar>
</div>
