<div class="hidden lg:block mx-auto px-4 lg:px-80 mt-4">
  <p-menubar [model]="items" [pt]="{ rootList: 'grow justify-around' }">
    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </div>
    </ng-template>
  </p-menubar>
</div>
<div class="mx-auto lg:hidden px-4 mt-4">
  <p-menubar [model]="mobileItems" [pt]="{ rootList: 'grow justify-around' }">
    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </div>
    </ng-template>
  </p-menubar>
</div>
