<div class="flex flex-col gap-2">
  <label class="font-semibold" for="image">
    Picture
    <span class="font-normal">
      (optional)
    </span>
  </label>
  <input #fileInput (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png"
         class="hidden" id="image" type="file"/>

  @if (previewUrl(); as url) {
    <div class="relative aspect-video rounded-lg shadow-md overflow-hidden">
      <img [src]="url" alt="Selected picture preview" class="w-full h-full object-cover"/>
      <div class="absolute top-2 right-2">
        <p-button (onClick)="removeImage()" [rounded]="true" ariaLabel="Remove picture"
                  icon="pi pi-times" severity="danger"/>
      </div>
    </div>
  } @else {
    <p-button (onClick)="fileInput.click()" [outlined]="true" [rounded]="true"
              icon="pi pi-image" label="Choose a picture"/>
  }
  <small>JPG or PNG, max 20MB.</small>
  @if (error()) {
    <small>{{ error() }}</small>
  }
</div>
