DATABASE_URL=jdbc:postgresql://localhost:5400/meetmapdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=meetmapdb
JWT_SECRET=iQRtw+a1RzglvZpkK/32k6S2Jt/e21yi/MVZji2DkKaRUzY0JhXyrKF3YDmXBhuWHHFxXza4IyDHw1pAKZrbGw==
SYNAPSE_URL=http://localhost:18008
# make sure registration_shared_secret key in synapse/homeserver.yaml matches the envvar below
SYNAPSE_REGISTRATION_SHARED_SECRET=c55d56406af7cde914979573349c05907b3577c0f24a404167c5e6a49dc6399d
SYNAPSE_SERVER_NAME=meetmap.ro
SYNAPSE_REPORT_STATS=no
SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
