DATABASE_URL=jdbc:postgresql://localhost:5400/meetmapdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=meetmapdb
JWT_SECRET=iQRtw+a1RzglvZpkK/32k6S2Jt/e21yi/MVZji2DkKaRUzY0JhXyrKF3YDmXBhuWHHFxXza4IyDHw1pAKZrbGw==
