<p-card>
  <div class="flex flex-row justify-between gap-12">
    <div class="flex flex-col">
      <div>
        @if (status() == "CANCELLED") {
          <p class="text-gray-500 text-2xl">
            {{name()}}
          </p>
        }
        @else {
          <p class="text-primary text-2xl">
            {{name()}}
          </p>
        }
        <p class="line-clamp-4">{{description()}}</p>
      </div>
    </div>
    <div class="flex flex-col gap-2 justify-center text-center">
      @if (status() == "CANCELLED") {
        <i class="pi pi-flag text-gray-500" style="font-size: 2rem"></i>
        <p class="text-gray-500">{{flagCount()}}</p>
      } @else {
        <i class="pi pi-flag text-red-500" style="font-size: 2rem"></i>
        <p class="text-red-500">{{flagCount()}}</p>
      }
    </div>
  </div>
</p-card>
